/*
 * @Author: Jestoni Obice 
 * @Date: 2017-12-27 14:51:35 
 * @Last Modified by:   Jestoni Obice 
 * @Last Modified time: 2017-12-27 14:51:35 
 */
 
.btn-pill {
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-radius: 1000em;
}

/* Extra small viewport or screen */
@media only screen and (min-width : 480px) {
  // write CSS properties here
}

/* Small viewport or screen */
@media only screen and (min-width : 768px) {
  // write CSS properties here
}

/* Medium viewport or screen */
@media only screen and (min-width : 992px) {
  // write CSS properties here
}

/* Large viewport or screen */
@media only screen and (min-width : 1200px) {
  // write CSS properties here
}